# 07. 데이터선택(loc)
이름 이용하여 원하는 row에서 col 선택

In [9]:
import pandas as pd

df = pd.read_csv("score.csv")
df.set_index('지원번호', inplace = True)

In [11]:
df.loc['1번'] #index 1번에 해당하는 전체 데이터

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [13]:
df.loc['1번','국어'] # 1번 학생의 국어성적 컬럼만 갖고오고 싶을때

90

In [16]:
df.loc[['1번', '2번'], '영어'] # 1번, 2번에 해당하는 영어 성적

지원번호
1번    85
2번    35
Name: 영어, dtype: int64

In [18]:
df.loc[['1번', '2번'], ['영어', '국어']] # 1번, 2번에 해당하는 영어와 국어 성적

      영어  국어
지원번호
1번    85  90
2번    35  40

In [21]:
df.loc['1번':'5번', '국어' : '사회'] # 1번부터 5번까지 국어부터 사회성적 알고 싶을때

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10