# 8 데이터선택(iloc)

In [2]:
import pandas as pd

df = pd.read_csv("score.csv")
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [4]:
df.iloc[0] ## 위치를 이용하여 인덱싱 하는것

지원번호        1번
이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 0, dtype: object

In [ ]:
df.iloc[0:5] #슬라이싱 가능

In [11]:
df.iloc[0, 1] # 위치든 이름이든 통일이 중요

'채치수'

In [14]:
df.iloc[[0, 1], 2] #0, 1번째 위치의 학생의 2번째 데이터

0    북산고
1    북산고
Name: 학교, dtype: object

In [15]:
df.iloc[[0, 1], [2,3]] # 0, 1번째 위치의 학생의 2,3번째 데이터

    학교    키
0  북산고  197
1  북산고  184

In [21]:
df.iloc[0:5, 3:8]

     키  국어  영어   수학  과학
0  197  90  85  100  95
1  184  40  35   50  55
2  168  80  75   70  80
3  187  40  60   70  75
4  188  15  20   10  35