## 6. 데이터선택

In [1]:
import pandas as pd

df = pd.read_csv("score.csv")
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

## column 선택(label)

In [ ]:
df["이름"]
df['키']
df[['이름', '키']]

## column 선택(정수 Index)

In [7]:
df.columns[0]

'지원번호'

In [10]:
df[df.columns[0]] ## df['아름']과 동일, 컬럼 갯수가 많을때 유용하다(항상 첫번째나, 항상 마지막 컬럼을 선택할때)

0    1번
1    2번
2    3번
3    4번
4    5번
5    6번
6    7번
7    8번
Name: 지원번호, dtype: object

## 슬라이싱

In [15]:
df['영어'][0:5] # 0 ~ 4까지 영어 점수 데이터 가져옴

0    85
1    35
2    75
3    60
4    20
Name: 영어, dtype: int64

In [16]:
df[['이름', '키']][:3]

    이름    키
0  채치수  197
1  정대만  184
2  송태섭  168